html
  head
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="/cjade/cjade.js")
    script
      $(document).ready(function(){
        cjade("test.jade.js",function(err,tpl){
          $("#test").append(tpl());
        });
      });
  body
    div#test

